<footer>
    <div class="pre-footer">
        <div class="container">
            <div class="row">
                <div class="column-1-4">
                    <h4>
                        Stations &amp; Regions
                    </h4>
                    <ul>
                        <li>
                            <a href="#">Lorem ipsum</a>
                        </li>
                        <li>
                            <a href="#">Lorem ipsum</a>
                        </li>
                        <li>
                            <a href="#">Lorem ipsum</a>
                        </li>                 
                        <li>
                            <a href="#">Lorem ipsum</a>
                        </li>
                        <li>
                            <a href="#">Lorem ipsum</a>
                        </li>
                    </ul>
                </div>
                <div class="column-1-4">
                    <h4>
                        Stations &amp; Regions
                    </h4>
                    <ul>
                        <li>
                            <a href="#">Lorem ipsum</a>
                        </li>
                        <li>
                            <a href="#">Lorem ipsum</a>
                        </li>
                        <li>
                            <a href="#">Lorem ipsum</a>
                        </li>                 
                        <li>
                            <a href="#">Lorem ipsum</a>
                        </li>
                        <li>
                            <a href="#">Lorem ipsum</a>
                        </li>
                    </ul>
                </div>
                <div class="column-1-4">
                    <h4>
                        Stations &amp; Regions
                    </h4>
                    <ul>
                        <li>
                            <a href="#">Lorem ipsum</a>
                        </li>
                        <li>
                            <a href="#">Lorem ipsum</a>
                        </li>
                        <li>
                            <a href="#">Lorem ipsum</a>
                        </li>                 
                        <li>
                            <a href="#">Lorem ipsum</a>
                        </li>
                        <li>
                            <a href="#">Lorem ipsum</a>
                        </li>
                    </ul>
                </div>
                <div class="column-1-4">
                    <h4>
                        Stations &amp; Regions
                    </h4>
                    <ul>
                        <li>
                            <a href="#">Lorem ipsum</a>
                        </li>
                        <li>
                            <a href="#">Lorem ipsum</a>
                        </li>
                        <li>
                            <a href="#">Lorem ipsum</a>
                        </li>                 
                        <li>
                            <a href="#">Lorem ipsum</a>
                        </li>
                        <li>
                            <a href="#">Lorem ipsum</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="logo-container">
        <img src="{{ "assets/img/mmr-logo.png" | relative_url }}">
    </div>
</footer>